$font-color: #333333 !default;
$border: 1px solid #C0C0C0 !default;
$height: 35px;

.ms-parent {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 90%;
  font-size: 14px;
}

.ms-choice {
  display: block;
  width: 100%;
  height: $height;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  border: $border;
  text-align: left;
  white-space: nowrap;
  line-height: $height;
  color: $font-color;
  text-decoration: none;
  border-radius: 4px;
  background-color: white;
}

.ms-choice > span {
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding-left: 8px;
}

.ms-choice > div {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 25px;
  //background: url('multiple-select.png') left top no-repeat;
}

.ms-choice > div.open {
  //background: url('multiple-select.png') right top no-repeat;
}

.ms-drop {
  width: 100%;
  overflow: hidden;
  display: none;
  margin-top: -1px;
  padding: 0;
  position: absolute;
  z-index: 1000;
  background-color: white;
  color: $font-color;
  border: $border;
  border-radius: 4px;
}

.ms-drop ul {
  overflow: auto;
  margin: 0;
  padding: 5px 0px;

  > li {
    height: 22px;
    line-height: 22px;
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;

    &.selected,
    &:hover {
      background-color: #1080C0;
      color: #FFF;
    }
  }
}
